{% extends 'base.html' %}

{% block title %}Login{% endblock  %}


{% block content %}
<hr><hr><hr><hr><hr><hr><hr><hr><hr>
<div class="container py-10 mt-10">
    <div style="max-width:500px; margin:0 auto;">
        {% include 'messages.html' %}
    <h2>Login</h2>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
                <div class="mb-4">
                    
                    <input class="w-100 form-control border-1 py-1" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
                </div>
                
                {% endfor %}
        <button class="w-100 btn form-control border-secondary py-2 mt-3 bg-white text-primary" type="submit">Login</button>

    </form>
</div>
</div>


{% endblock %}